@{
    ViewBag.Title = "Home Page";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Styles/StyleSheet.css">
    <title>Palindrome</title>
</head>
<body>
    <h1>PALINDROME TEST</h1>
    <div class="container">
        <div class="grid-container">

            <div class="row">
                <img class="logo" src="~/Content/Images/js-logo.png" alt="">
                <input class="col" type="text" name="js-input" id="js-input" placeholder="TYPE">
            </div>

            <div class="row">
                <img class="logo" src="~/Content/Images/sql-logo.png" alt="">
                <input class="col" type="text" name="sql-input" id="sql-input" placeholder="TYPE">
                <button class="col" id="sql-button">Go</button>
            </div>


            <div class="row">
                <img class="logo" src="~/Content/Images/c-logo.png" alt="">
                <input class="col" type="text" name="c-input" id="c-input" placeholder="TYPE">
                <button class="col" id="c-button">Go</button>
            </div>
        </div>
        <img class="im-logo" src="~/Content/Images/im-logo.png" alt="im-logo">
    </div>

    <script src="~/Scripts/index.js"></script>
</body>
</html>
